/* Styles pour le panier */
.cart {
    position: absolute;
    top: 20px;
    right: 80px;
}

.cart-btn {
    background-color: var(--main);
    color: var(--white);
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    cursor: pointer;
    transition: all 0.3s ease;
}

.cart-btn:hover {
    background-color: var(--beige-fonce);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.cart-content .modal-content {
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.cart-content h3 {
    margin-bottom: 20px;
}

.cart-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.cart-content li {
    background-color: var(--secondary);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-content li button {
    padding: 5px 10px;
    font-size: var(--font-size-small);
}

.cart-content .book-button {
    display: block;
    margin: 10px auto;
}

.cart-content .close {
    top: 15px;
    right: 15px;
}